/* mobile device */
@media screen and (max-width: 576px) {
  nav {
    margin: 20px;
  }
  .nav-container {
    flex-direction: column;
  }

  .menu-container ul {
    flex-direction: column;
    margin-top: 25px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .menu-container ul {
    flex-direction: column;
  }
}
