/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common styles */
:root {
  --heading-color: #0b0223;
  --text-color: #534c64;
}
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 48px;
  padding: 20px 40px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  cursor: pointer;
  margin-top: 10px;
}
body {
  font-family: "Work Sans", sans-serif;
  max-width: 1420px;
  margin: 0 auto;
}

/* navbar area styles */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 30px 120px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-title {
  color: var(--heading-color);
  font-size: 2.8rem;
  font-weight: 700;
}
.logo-title span {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu-container li {
  list-style: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-container li:hover {
  color: #ff42a5;
  transition: 1s;
  cursor: pointer;
}
#follow {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 12px 20px;
}
.fa-youtube {
  color: #f61c0d;
  font-size: 1.5rem;
}
.fa-tiktok {
  font-size: 1.5rem;
  text-shadow: 1px 1px #f00044, -1px -1px #08fff9;
}

/* banner area styles */
.banner {
  background: #fff;
  margin: 50px 110px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  background: linear-gradient(
    235deg,
    rgba(140, 87, 238, 0.03) 3.9%,
    rgba(241, 68, 174, 0.03) 100.56%
  );
}
.banner-content,
.banner-img {
  width: 50%;
}
.banner-content h3 {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h2 {
  font-size: 5.8rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  margin: 20px 0;
}
.banner-img img {
  width: 100%;
  height: auto;
}
.fa-circle-play,
.fa-download {
  color: #ff42a5;
  margin-right: 5px;
}
.fa-user {
  color: #0b0223;
  margin-right: 5px;
}
.rogue-btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 48px;
  padding: 20px 40px;
  cursor: pointer;
  background: #4ec5f7;
  margin-left: 15px;
  margin-top: 10px;
}

/* gamer area styles */
.gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  margin: 50px 110px;
}
.gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gamer-img,
.gamer-content {
  width: 50%;
}
.gamer-img img {
  width: 100%;
  height: 100%;
}
.gamer-content {
  text-align: right;
}
.gamer-content h3 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  color: #534c64;
  margin: 20px 0 20px 50px;
  width: 90%;
}
.gamer-content .gamer-pur {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px;
}
.gamer-content h4 {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}

/* online games area styles */
.online-games {
  background-color: #fff;
  margin: 80px 110px;
}
.online-game-content {
  text-align: center;
}
.online-game-content h2 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.online-game-content .funny-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-game-content p {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.video-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.card img {
  width: 100%;
}
.card-parent {
  position: relative;
  cursor: pointer;
}
.card-hover {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  border: 2px solid #f948b2;
  width: 100%;
  height: 81%;
  border-radius: 16px;
  top: 0;
  left: 0;
  display: none;
}

.play-button-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ffffff;
}
.text-hover {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-weight: 600;
  color: #ff42a5;
}
.card-parent:hover .card-hover {
  display: block;
}
.card-caption {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}
